---
interface Props {
  href?: string;
  label: string;
  icon?: string;
  badge?: string;
  isActive?: boolean;
}

const { 
  href = "#", 
  label = "inicio", 
  icon = "home", 
  badge,
  isActive = false 
} = Astro.props;
---

{isActive ? (
  <a
    href={href}
    class="deep-ui-active flex items-center px-3 py-2.5 text-sm font-medium rounded-xl border border-transparent border-[#3034ff]/20"
  >
    <div
      class="p-1.5 rounded-lg deep-ui-icon-bg mr-3 bg-[#3034ff]/20 text-[#a5a6ff]"
    >
      <i data-feather={icon} class="h-5 w-5"></i>
    </div>
    {label}
    {badge && <span class="ml-auto badge badge-primary">{badge}</span>}
  </a>
) : (
  <a
    href={href}
    class="flex items-center px-3 py-2.5 text-sm font-medium rounded-xl hover:bg-[var(--accent)] group transition-colors menu-item-hover border border-transparent"
  >
    <div
      class="p-1.5 rounded-lg deep-ui-icon-bg mr-3 group-hover:bg-[var(--primary-bg)] group-hover:text-[var(--primary)] transition-colors"
    >
      <i data-feather={icon} class="h-5 w-5"></i>
    </div>
    {label}
    {badge && <span class="ml-auto badge badge-gray">{badge}</span>}
  </a>
)}